@model YorumTakipRubikTekUI.Models.LoginModel

@{
    ViewBag.Title = "GirisYap";
}

<div class="container">
    <h2>GirisYap</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    @if (ViewBag.ReturnUrl != null)
            {
    <p class="bg-info">Sayfaya Erişmek İçin Giriş Yapmanız Gerekiyor</p>
            }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
       
        <div class="col-md-10">
           @Html.ActionLink("Kayıt Ol","KayitOl","User",new { @class="btn-info"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Giriş Yap" class="btn btn-default" />
        </div>
    </div>
</div>
    }
</div>

